<template>
  <q-page class="row q-pa-md q-col-gutter-md items-start content-start">
    <div class="col-4">
      <card-sparkline :title="$t('value')" :number=1520 :percent='0.33'/>
    </div>
    <div class="col-4">
      <card-sparkline :title="$t('value')" :number=1520 :percent="-0.12"/>
    </div>
    <div class="col-4">
      <card-sparkline/>
    </div>
    <div class="col-6">
      <SPortfolioTable/>
    </div>
  </q-page>
</template>

<script lang="ts">
import {defineComponent} from 'vue'
import CardSparkline from 'components/SCardSparkline.vue'
import SPortfolioTable from 'components/SProtfolioTable.vue'


export default defineComponent({
  name: 'PageHome',
  components: {SPortfolioTable, CardSparkline},

})
</script>
