<template>
  <q-page class="fit" padding>
    <q-card>
      <q-tabs
        v-model="tab"
        dense
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="trades" :label="$t('trades')"/>
        <q-tab name="alarms" :label="$t('fileUpload')"/>
      </q-tabs>
      <q-separator/>
      <q-tab-panels v-model="tab" animated>
        <q-tab-panel class="q-pa-none" name="trades">
          <q-table
            :columns="columns"
            :rows="trades"
          >
            <template #header="props">
              <q-tr :props="props">
                <q-th
                  v-for="col in props.cols"
                  :key="col.name"
                  :props="props"
                >
                  {{ $t(col.label) }}
                </q-th>
              </q-tr>
            </template>
          </q-table>
        </q-tab-panel>
        <q-tab-panel name="alarms">
          <div class="text-h6">Загрузить сделки</div>

          <SUploadForm/>
        </q-tab-panel>
      </q-tab-panels>
    </q-card>

  </q-page>
</template>

<script lang="ts">
import {computed, defineComponent, onMounted, ref} from 'vue'
import {tradesStore} from 'src/store/portfolio/tradesStore'
import {TradeDTO} from 'src/api/portfolio/types/tradeDTO'
import i18n from 'src/i18n'
import {Money} from 'src/api/security/types/money'
import TableColumns from 'src/shared/table'
import SUploadForm from 'components/SUploadForm.vue'

let global = i18n.global

function dateComparator(a: Date, b: Date) {
  if (a === b)
    return 0
  else if (a > b)
    return 1
  else
    return -1
}

const tradeColumns = [
  new TableColumns<Date, TradeDTO>(
    'Date',
    'date',
    'date',
    val => global.d(val, 'long'),
    true,
    undefined,
    true,
    dateComparator,
  ),
  new TableColumns<Date, TradeDTO>(
    'settlementDate',
    'settlementDate',
    'settlementDate',
    (val: Date) => global.d(val, 'long'),
    false,
    undefined,
    true,
    dateComparator,
  ),
  new TableColumns<string, TradeDTO>(
    'ticker',
    'ticker',
    'ticker',
    (val, row) => row.isMoney() ? global.t('money') : val,
  ),
  new TableColumns(
    'exchange',
    'exchange',
    'exchange',
  ),
  new TableColumns(
    'isin',
    'isin',
    'isin',
  ),
  new TableColumns<Money, TradeDTO>(
    'price',
    'price',
    'price',
    (val) => global.n(val.amount, 'currency', val.currency),
    undefined,
    undefined,
    true,
    (a: Money, b: Money) => a.compare(b),
  ),
  new TableColumns<Money, TradeDTO>(
    'sum',
    'sum',
    'sum',
    (val) => global.n(val.amount, 'currency', val.currency),
    undefined,
    undefined,
    true,
    (a: Money, b: Money) => a.compare(b),
  ),
  new TableColumns<number, TradeDTO>(
    'quantity',
    'quantity',
    'quantity',
    undefined,
    undefined,
    undefined,
    true,
    (a: number, b: number) => a - b,
  ),
  new TableColumns<number, TradeDTO>(
    'totalQuantity',
    'totalQuantity',
    'totalQuantity',
    undefined,
    undefined,
    undefined,
    true,
    (a: number, b: number) => a - b,
  ),
  new TableColumns<Money, TradeDTO>(
    'nkd',
    'nkd',
    'nkd',
    (val) => val ? global.n(val.amount, 'currency', val.currency) : '',
  ),
  new TableColumns<Money, TradeDTO>(
    'fee',
    'fee',
    'fee',
    (val) => val ? global.n(val.amount, 'currency', val.currency) : '',
  ),
  new TableColumns<string, TradeDTO>(
    'note',
    'note',
    'note',
  ),
]


export default defineComponent({
  name: 'PageTrades',
  components: {SUploadForm},
  setup: function () {
    const columns = ref(tradeColumns)
    const trades = computed(() => tradesStore.state.trades)
    onMounted(tradesStore.actions.loadTrades)
    const tab = ref('trades')
    return {columns, trades, tab}
  },
})
</script>
