<template>
  <q-card square :style="{ position: 'relative',  minHeight: '140px', height: '100%'}">
    <div class="fit">
      <q-card-section style="z-index: 1">
        <div class="row">
          <div v-if="title" class="col-12 text-subtitle1 text-readable">
            {{ title }}
          </div>
          <div v-if="number" class="col-12 text-h6 app-graduate text-readable q-pb-md">
            {{ $n(number, 'currency', 'RUB') }}
          </div>
          <q-chip v-if="percent"
                  color="positive"
                  :icon-right="percent>0? 'north_east' : 'south_east'" outline
                  text-color="white"
                  class="q-ma-none "
          >
            {{ $n(percent, 'percent', 'RUB') }}
          </q-chip>
        </div>
      </q-card-section>
      <div class="fit" style="z-index: 0; position: absolute; bottom: 0">
        <apexchart type="area"
                   height="100%"
                   width="100%"
                   :options="chartOptions"
                   :series="series"
        />
      </div>
    </div>

  </q-card>
</template>
<script lang="ts">
import {defineComponent, ref} from 'vue'
import {ApexOptions} from 'apexcharts'

const defaultOptions: ApexOptions = {
  tooltip: {
    enabled: false,
  },
  stroke: {
    curve: 'smooth',
    show: false,
  },
  chart: {
    id: 'vuechart-example',
    type: 'area',
    sparkline: {
      enabled: true,
    },
    toolbar: {
      show: false,
    },
    zoom: {
      enabled: false,
    },
  },
  fill: {
    type: 'gradient',
    colors: ['#1eb980'],
    opacity: 1,
    gradient: {
      type: 'vertical',
      gradientToColors: ['#045D56'],
      opacityFrom: 1,
      opacityTo: 1,
    },
  },
}

export default defineComponent({
  name: 'CardSparkline',
  components: {},
  props: {
    title: {
      type: String,
      default: '',
      required: false,
    },
    number: {
      type: Number,
      default: 0,
      required: false,
    },
    percent: {
      type: Number,
      default: 0,
      required: false,
    },
  },
  setup: function () {
    const chartOptions = ref<ApexOptions>(defaultOptions)
    const heartbeat = () => Math.ceil(Math.random() * (120 - 80) + 80)
    const series = ref([
      {
        name: 'series-1',
        data: Array.from({length: 20}, heartbeat),
      },
    ])
    return {chartOptions, series}
  },
})
</script>
