<template>
  <hr
    aria-orientation="horizontal"
    class="v-divider"
    role="separator"
    :style="{
      background: createGradient,
      height: height + 'rem',
      'max-height': height + 'rem',
      'border-width': 0,
      'margin': 0
    }"
  >
</template>
<script lang="ts">

import {computed, defineComponent, PropType} from 'vue'

const greenArray: Array<string> = [
  '#1eb980',
  '#1b5e20',
  '#66bb6a',
  '#69f0ae',
  '#43a047',
  '#fbc02d',
  '#b2ff59',
  '#373740',
]
export default defineComponent({
  name: 'SChartDivider',
  props: {
    series: {
      type: Array as PropType<Array<number>>,
      default: () => [100],
      required: true,
    },
    colorArray: {
      type: Array as PropType<Array<string>>,
      default: greenArray,
    },
    height: {
      type: Number,
      default: 0.3,
    },

  },
  setup: function (props) {
    let createGradient = computed(() => {
      let gradient = 'linear-gradient(90deg'
      let percent = 0
      const series = props.series
      const colorArray = props.colorArray
      for (let i = 0; i < series.length; i++) {
        const item: number = series[i]
        const newPercent = percent + item <= 100 ? percent + item : 100
        const id = i % colorArray.length
        gradient += `, ${colorArray[id]} ${percent}%, ${colorArray[id]} ${newPercent}%`
        percent = newPercent
      }
      gradient += ')'
      return gradient
    })
    return {createGradient}
  },
})
</script>
