<template>

  <q-drawer
    v-model="leftDrawerOpen"
    show-if-above
    :width="256"
    class="app-dark-background"
  >
    <q-list class="q-px-sm">
      <q-item-label
        class="text-center"
        style="align-self: center"
        header
      >
        <q-avatar icon="workspace_premium" font-size="45px"
                  color="primary"
                  text-color="white"
                  :style="{ transform: `rotate(45deg)`, display: 'inline-block' }"
        ></q-avatar>
      </q-item-label>
      <q-item
        v-for="link in menuList"
        :key="link.to"
        v-ripple
        :to="link.to"
        clickable
        active-class="my-menu-link"
        class="rounded-borders text-subtitle1"
      >
        <q-item-section
          v-if="link.icon"
          avatar
        >
          <q-icon :name="link.icon"/>
        </q-item-section>

        <q-item-section>
          <q-item-label>{{ $t(link.title) }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-drawer>
</template>

<script lang="ts">
import {computed, defineComponent, ref} from 'vue'
import {coreModule} from 'src/store/base/base.store'

interface MenuItem {
  icon?: string;
  active?: boolean;
  title: string;
  to?: string;
  items?: Array<MenuItem>;
}

const items: Array<MenuItem> = [
  {
    icon: 'work',
    to: '/home',
    title: 'portfolio',
  },
  {
    icon: 'handshake',
    title: 'trades',
    to: '/trades',
  },
  {
    icon: 'insights',
    title: 'analytics',
    to: '/analytics',
  },
  {
    title: 'quasar.dev',
    icon: 'work',
    to: 'https://quasar.dev',
  },
]

export default defineComponent({
  name: 'SMenu',
  props: {},
  setup: function () {
    let menuList = ref(items)
    let leftDrawerOpen = computed<boolean>({
      get(): boolean {
        return coreModule.state.drawer
      },
      set(state: boolean): void {
        coreModule.mutations.setDrawer(state)
      },
    })
    return {menuList, leftDrawerOpen}
  },
  computed: {},
  methods: {},
})

</script>
<style lang="sass" scoped>
// $
.my-menu-link
  background: #64646b
</style>
