<template>
  <q-card square>
    <q-card-section class="q-pb-none">
      <div class="text-h6 col-12">{{ $t('trades') }}</div>
    </q-card-section>
    <q-card-section horizontal>
      <div class=" col-12">
        <s-chart-divider :series="[30,30,30,10]"></s-chart-divider>
      </div>
    </q-card-section>
    <q-card-section horizontal>
      <div class="col-12">
        <q-table
          square
          flat
          :columns="columns"
          :rows="portfolio"
        >
          <template #header="props">
            <q-tr :props="props">
              <q-th
                v-for="col in props.cols"
                :key="col.name"
                class="q-pt-none"
                :props="props"
              >
                {{ $t(col.label) }}
              </q-th>
            </q-tr>
          </template>
          <template #no-data="{ icon, message, filter }">
            <div class="full-width row flex-center text-accent q-gutter-sm">
              <q-icon size="2em" name="sentiment_dissatisfied"/>
              <span>Well this is sad... {{ message }}</span>
              <q-icon size="2em" :name="filter ? 'filter_b_and_w' : icon"/>
            </div>
          </template>
        </q-table>
      </div>
    </q-card-section>
  </q-card>
</template>
<script lang="ts">
import SChartDivider from 'components/SChartDivider.vue'
import {computed, defineComponent, onMounted} from 'vue'
import TableColumns from 'src/shared/table'
import {tradesStore} from 'src/store/portfolio/tradesStore'


const tableColumns = [
  new TableColumns('ticker', 'ticker', 'ticker', undefined, true),
  new TableColumns('exchange', 'exchange', 'exchange'),
  new TableColumns('buyQuantity', 'buyQuantity', 'buyQuantity'),
  new TableColumns('saleQuantity', 'saleQuantity', 'saleQuantity'),
  new TableColumns('averagePrice', 'averagePrice', 'averagePrice'),
  new TableColumns('buySumPrice', 'buySumPrice', 'buySumPrice'),
  new TableColumns(
    'saleSumPrice',
    'saleSumPrice',
    'saleSumPrice'),
  new TableColumns(
    'priceCurrency',
    'priceCurrency',
    'priceCurrency'),
  new TableColumns(
    'buyFee',
    'buyFee',
    'buyFee'),
  new TableColumns(
    'saleFee',
    'saleFee',
    'saleFee'),
  new TableColumns(
    'feeCurrency',
    'feeCurrency',
    'feeCurrency'),
  new TableColumns(
    'dividend',
    'dividend',
    'dividend'),
  new TableColumns(
    'dividendCurrency',
    'dividendCurrency',
    'dividendCurrency'),
  new TableColumns(
    'firstTransaction',
    'firstTransaction',
    'firstTransaction'),
  new TableColumns(
    'lastTransaction',
    'lastTransaction',
    'lastTransaction'),
]


export default defineComponent({
  name: 'SPortfolioTable',
  components: {SChartDivider},
  setup: function () {
    onMounted(tradesStore.actions.loadPortfolio)
    let portfolio = computed(() => tradesStore.state.portfolio)
    const columns = tableColumns
    return {portfolio, columns}
  },
})
</script>
