<template>
  <q-form @submit="onSubmit">
    <div class="row q-col-gutter-md q-col-gutter-md-y-md">
      <q-select v-model="selectBankImport" class="col-6"
                :options="bankImportOptions"
                emit-value
                :label="$t('selectBankUpload')"/>
      <q-file v-model="file" class="col-4"
              bottom-slots
              :label="$t('selectFileUpload')"
              lazy-rules
              :rules="[
                val => val? true : $t('choseFileValidation'),
              ]"
              counter>
        <template #prepend>
          <q-icon name="cloud_upload" @click.stop/>
        </template>
        <template #append>
          <q-icon name="close" class="cursor-pointer" @click.stop="model = null"/>
        </template>
      </q-file>
      <div class="col-2">
        <q-btn size="lg" :label="$t('submitFileUpload')" type="submit" color="primary"/>
      </div>
    </div>
    <q-linear-progress :value="progress" class="q-mt-md"/>
  </q-form>
</template>
<script lang="ts">
import {defineComponent, reactive, ref, Ref, UnwrapRef} from 'vue'
import {BankImport} from 'src/shared/types/Banks'
import i18n from 'src/i18n'
import {userStore} from 'src/store/module-user/user.store'
import {PortfolioApi} from 'src/api/portfolio/portfolio-api'
import {useQuasar} from 'quasar'


export default defineComponent({
  name: 'SUploadForm',
  setup: function () {
    // eslint-disable-next-line @typescript-eslint/unbound-method
    const {t} = i18n.global
    const $q = useQuasar()
    let bankImportOptions: { label: string; value: string }[]
    bankImportOptions = [
      {label: t('SBER_ONLINE').toString(), value: BankImport.SBER_ONLINE},
      {label: t('TINKOFF_ONLINE').toString(), value: BankImport.TINKOFF_ONLINE},
    ]
    let lastUserBank = bankImportOptions.find(value => value.value == userStore.state.bankImport)
    let selectBankImport = reactive(lastUserBank ? lastUserBank : bankImportOptions[1])
    const file: Ref<UnwrapRef<undefined | File>> = ref(undefined)


    const progress = ref(0)
    const onUploadProgress = function (progressEvent: { lengthComputable?: boolean; loaded?: number; total?: number }) {
      if (progressEvent.loaded && progressEvent.total)
        progress.value = Math.round((progressEvent.loaded * 100) / progressEvent.total)
    }
    const onSubmit = function () {
      if (selectBankImport.value)
        userStore.mutations.setBankImport(selectBankImport.value)
      if (file.value)
        PortfolioApi.uploadFile(file.value, selectBankImport.value, {onUploadProgress})
          .then((n: number) => $q.notify({type: 'info', message: `${t('succsessFileUpload')} ${n}`}))
          .catch(() => $q.notify({type: 'error', message: t('failFileUpload')}))
    }
    return {bankImportOptions, selectBankImport, file, progress, onSubmit}
  },
})
</script>
