// app global css in SCSS form
.app-dark-background {
  background: $background
}

@font-face {
  font-family: graduate;
  src: url(src/fonts/graduate.woff);
}

// declare a class which applies it
.app-graduate {
  font-family: 'graduate', sans-serif;
}
.text-readable {
  text-shadow: black 0 0 10px
}
