// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasars source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasars own
// ones will be available out of the box in your .vue/.scss/.sass files

// Its highly recommended to change the default colors
// to match your apps branding.
// Tip: Use the "Theme Builder" on Quasars documentation website.

$primary: #1eb980;
$secondary: #045d56;
$accent: #ff6856;

$dark: #373740;

$positive: #ffc107;
$negative: #ffcd44;
$error: #ffcd44;
$info: #72defd;
$warning: #b15dfd;

$dark-page: #33333d;
$background: #33333d;
$backgroundComponent: #373740;
