<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar class="app-dark-background">
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title
          class="text-weight-light"
        >
          {{ $t($route.name) }}
        </q-toolbar-title>

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <s-menu></s-menu>


    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import {computed, defineComponent} from 'vue'
import SMenu from 'components/SMenu.vue'
import {coreModule} from 'src/store/base/base.store'

export default defineComponent({
  name: 'MainLayout',
  components: {
    SMenu,
  },

  setup() {
    let leftDrawerOpen = computed<boolean>({
      get(): boolean {
        return coreModule.state.drawer
      },
      set(state: boolean) {
        coreModule.mutations.setDrawer(state)
      },
    })

    return {
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value
      },
    }
  },
})
</script>
